
      <div class="cd-slider-nav">
          <nav>
              <span class="cd-marker item-1"></span>
              <ul>
                <li class="selected"><div class="image-icon"><%= link_to image_tag("home-icon.png", alt:"Home"),root_path%></div><h6>Welcome</h6></li>
                <li><div class="image-icon"><%= link_to image_tag("about-icon.png", alt:"About Me"),about_path%></div><h6>About Me</h6></li>
                <li><div class="image-icon"><%= link_to image_tag("featured-icon.png", alt:"Package"),package_path%></div><h6>Packages</h6></li>
                <li><div class="image-icon"><%= link_to image_tag("projects-icon.png", alt:"Porfolio"),portfolio_path%></div><h6>Porfolio</h6></li>
                <li><div class="image-icon"><%= link_to image_tag("contact-icon.png", alt:"Inquire"),contacts_path%></div><h6>Inquire</h6></li>
              </ul>
          </nav>
        </div> <!-- .cd-slider-nav -->
